<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8"/>
		<title>{{brand_name}}</title>
        <meta name="viewport" content="width=device-width"/>
        <link rel="icon" type="image/png" href="/assets/img/favicon.png"/>
        <link rel="apple-touch-icon" href="/assets/img/favicon.png">
        <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
		<link rel="stylesheet" href="/assets/css/main.css">
	</head>
	<body>
		{{>logo}}
	</body>

</html>